body{
    background-color: #060E1F;
    color:antiquewhite
}
.card{
    background-color: #092949;
}
.btn{
    color:antiquewhite
}
#supportTable_filter > label > input[type=search]{
    color:antiquewhite
}
table.dataTable tbody tr{
    background-color: #092949;
    color: antiquewhite;
}
th{
    color:antiquewhite;
}
label{
    color: antiquewhite;
}
#supportTable_length > label > select{
    color: antiquewhite;
    background-color: #092949;
}
.table th{
    border-color:#C9AA71;
}
.table td{
    border-top-color:#C9AA71 ;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: antiquewhite!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    color: rgb(145, 136, 124)!important;
}
.dataTables_info{
    color: antiquewhite!important;
}
.dataTables_wrapper .dataTables_filter input {
    width:70%;
}
h3{
    font-size:medium; 
    text-align: center;
}
.table thead th{
    padding: 0%;
}
@media (min-width: 576px) { 
    .dataTables_wrapper .dataTables_filter input {
        width:70%;  
    }
    h3{
        font-size:1.75rem; 
        text-align: center; 
     }
}


@media (min-width: 992px) { 
    .dataTables_wrapper .dataTables_filter input {
        width:100%;
    }
    h3{
        font-size:1.75rem;
        text-align: center; 
     }
    

 }
